$gray:#E6E4E1;
$darkgray:#8B8883;
$lightgray:#928F8A;
$black:#343535;
$borde:1px solid $lightgray;
$grey:#F4F5F7;
$buttonGrey:#E4E7EA;
$darkGrey:#768696;
$white:#FFFFFF;
$blue:#2A65A1;
$lightBlue:#4BB7D9;
$lightRed:#DD4A4A;
$red:#BA1414;
$shinyRed:#D90000;
$yellow:#FFBF00;
$orange:#FF8000;
$purple:#952B7A;
$gris:#70848E;
$whitetrans: rgba(255, 255, 255, 0.9);
$red:#CA0000;
$darkred:#7C0606;
$redlight:#FF9D98;
$greenlight:#C6F4A2;
$yellow:#FFE950;
$pink:#EA0061;