$gray:#E6E4E1;
$darkgray:#8B8883;
$lightgray:#928F8A;
$black:#343535;
$borde:1px solid $lightgray;
$white:#FFF;
$grey:#F4F5F7;
$buttonGrey:#E4E7EA;
$darkGrey:#768696;
$white:#FFFFFF;
$blue:#2A65A1;
$lightBlue:#4BB7D9;
$lightRed:#DD4A4A;
$red:#BA1414;
$yellow:#FFBF00;
$orange:#FF8000;
$purple:#952B7A;
