*{
	font-family:"Lato";
}
a{
	text-decoration:none;
}
img{
	width:100%;
}
.row{
	padding:5px 0px;
}
.center{
	text-align:center;
}
.small{
	font-size:13px;
}
.xsmall{
	font-size:11px;
}
.floatRight{
	float:right;
}
.floatLeft{
	float:left;
}
.header,.header .logo{
	margin-top:10px;
}
i{
	&.fa-facebook{
		color:$blue;
	}
	&.fa-twitter{
		color:$lightBlue;
	}
	&.fa-google-plus{
		color:$red;
	}
	&.fa-envelope{
		color:$yellow;
	}
	&.fa-rss{
		color:$orange;
	}
}
.ad{
	background:$grey;
	color:$darkGrey;
	.floatRight{
		*{
			margin-left:10px;
		}
		div{
		padding:5px 10px;
		margin-left:10px;
		display:inline;
		border-left:1px solid $buttonGrey;
		border-right:1px solid $buttonGrey;

			input{
				width:60px;
				background:$grey;
				border:none;
			}
		}
	}
	a,button,.fa-search{
		font-size:11px;
		font-weight:bold;
		color:$darkGrey;
	}
	button{@include button($lightRed,2px,5px);
		vertical-align:middle;
	}
}
nav{
	ul{
		width:100%;
		background:$red;
		border-radius:5px;
		margin-left:0px!important;
		li{
			padding:5px 0px;
			border-right:2px solid transparent;
			border-image: url(../image/main_menu_sep.jpg) 10 round;
			&:nth-child(10){
				border:none;
			}
		}
		a{	
			font-family:"Open Sans Condensed";
			color:$white;
			margin:0px 10px;
			&:hover{
				color:$white;
				font-weight:bold;
			}
		}
	}
}
.fa-circle{
	font-size:5px;
	color:$darkGrey;
	margin:0 20px;
	vertical-align:middle;
}
.temas{@include repisa();
	font-family:"Open Sans Condensed";
	background:$buttonGrey;
	border-radius:5px;
	padding:5px 10px;
	p{
		width:15%;
		margin-bottom:0px;
	}
	.multiple-items{
		vertical-align:middle;
		width:83%;

		&.slick-slider{
			margin-bottom:0px;
		}
	}
}
i:first-child{
	&.fa-facebook{@include contentButton($blue);
	}
	&.fa-twitter{@include contentButton($lightBlue);
	}
	&.fa-google-plus{@include contentButton($red);
	}
}
/* - - - I N I C I O - F O O T E R - - - */
.bg-gray{
	background-color: $gray;
	padding: 3%;
}
.lista-footer>ul>li{
	font-size: 12px;
	list-style: none;
	color: $darkgray;
}
.lista-diarios>ul>li{
	font-size: 10px;
	list-style: none;
	display: inline;
	color: $lightgray;
}
.sep:after{
	content: "|";
	color: $lightgray;
}
.sep-footer{
	border-left: 1px solid $lightgray;
}
.logo-footer{
	margin: 7% 0;
	color: $darkgray;
}
.txblack{
	color: $black;
}
.derechos{
	font-size: 12px;
}
/* - - - F I N - F O O T E R - - - */

.fa-youtube-play{
	color:$red;
}
.fa-camera{
	color:$red;
}

h4.floatLeft {
	margin-top:0px;
	margin-right:20px;
}
.subtitle{
	color: $lightgray;
	font-family:"Open Sans Condensed";
	font-weight:bold;
}
img.floatLeft{
		margin-top:5px;
		width:15px;
		height:15px;
}
.contentWide{
	>div{@include repisa();
		position:relative;
		border-bottom:1px solid $darkGrey;
		.glyphicon{
			color:$darkGrey;
			vertical-align:text-top;
		}
		p:nth-child(4){
			font-size:15px;
		}
		img{
			margin-right:30px;
			width:200px;
			height:120px;
		}
		h4{
			margin-top:0px;
			font-weight:bold;
		}
		.bottomList{
			position:absolute;
			left:230px;
			bottom:10px;;
			p{
				text-transform:uppercase;
				font-size:12px;
			}
		}
	}
}
