.contacto{
	text-align: center;
	font-weight: bold;
}
.example{
	text-align: right;
}
form{
	margin: 5% 13%;
}
.forml{
	text-align: justify;
	margin: 2%;
}
.btnimg{
margin-left:30%;
}
/* - - - G L O B A L - - - */
.mt-5{
	margin-top: 5%;
}
.mt-3{
	margin-top: 3%;
}
/* - - - G L O B A L - - - */