.titularUno{@include bgTitular(url(../image/img_grid_principal.jpg),75%,10px,20px);
}
.titularDos{@include bgTitular(url(../image/img_grid_secundario.jpg),25%,10px,20px);
	margin-bottom:20px;
}
.titularTres{@include bgTitular(url(../image/fotogaleria_col01_01.jpg),25%,10px,20px);
	margin-top:20px;
}
.contenedorSlider{
	background:$grey;
	border-top:4px solid $red;
	padding-bottom:15px;
	img{@include imgColumnista(80px,80px);
		margin:0 auto;
	}
	div{
		padding:10px 10px 0px 10px;
		text-align:center;
	}
	.sectionTitle{
		background:$red;
		width:20%;
		position:absolute;
		left:40%;
		top:-10px;
		height:30px;
		text-align:center;
		color:white;
		font-weight:bold;
		padding:5px;
	}
	.xsmall{
		margin-top:5px;
	}
	p:nth-child(3){
		font-weight:bold;
	}
}
.boxsetUno{
	>div{@include bgTitular(url(../image/img_especiales.jpg),45%,5px,10px);
	}
}
.boxsetDos{
	>div{@include bgTitular(url(../image/img_especiales_aside.jpg),38.5%,5px,10px);
	}
}
.boxsetTres{
	>div{@include bgTitular(url(../image/img_infografia_especiales.jpg),45%,5px,10px);
	}
}
.boxsetCuatro{
	>div{@include bgTitular(url(../image/img_video_destacado.jpg),38.5%,5px,10px);
	}
}
.boxsetUno,.boxsetDos,.boxsetTres,.boxsetCuatro{
	border:1px solid $buttonGrey;
	margin-top:10px;
	margin-bottom:30px;
	>p{
		margin:10px 0px;
		&:first-child{
			color:$red;
			font-weight:bold;
		}
	}
	a{
		color:black;
	}
}
.news{
	.contentWide{
		>div{
			padding:20px 0px;
		}
	}
}

/*te amo mucho polola*/