.titularUno{@include bgTitular(url(../image/img_grid_principal.jpg),75%,10px,20px);
}
.titularDos{@include bgTitular(url(../image/img_grid_secundario.jpg),25%,10px,20px);
	margin-bottom:20px;
}
.titularTres{@include bgTitular(url(../image/fotogaleria_col01_01.jpg),25%,10px,20px);
	margin-top:20px;
}
.contenedorSlider{
	background:$grey;
	border-top:4px solid $red;
	padding-bottom:15px;
	img{
		margin:0 auto;
		height:80px;
		width:80px;
		border:3px solid $white;
		-webkit-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.54);
		-moz-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.54);
		box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.54);
	}
	div{
		padding:10px 10px 0px 10px;
		text-align:center
	}
}
.boxsetUno{
	>div{@include bgTitular(url(../image/img_especiales.jpg),45%,5px,10px);
	}
}
.boxsetDos{
	>div{@include bgTitular(url(../image/img_especiales_aside.jpg),38.5%,5px,10px);
	}
}
.boxsetTres{
	>div{@include bgTitular(url(../image/img_infografia_especiales.jpg),45%,5px,10px);
	}
}
.boxsetCuatro{
	>div{@include bgTitular(url(../image/img_video_destacado.jpg),38.5%,5px,10px);
	}
}
.boxsetUno,.boxsetDos,.boxsetTres,.boxsetCuatro{
	border:1px solid $buttonGrey;
	margin-top:10px;
	margin-bottom:30px;
	>p{
		margin:10px 0px;
		&:first-child{
			color:$red;
			font-weight:bold;
		}
	}
	a{
		color:black;
	}
}
.contentWide{
	>h4{
		font-family:"Open Sans Condensed";
		margin-top:0px;
		margin-right:20px;
		font-weight:bold;
		color:$darkGrey;
	}
	>img{
		margin-top:5px;
		width:15px;
		height:15px;
	}
	div{
		position:relative;
		padding:20px 0px;
		border-bottom:1px solid $darkGrey;
		.glyphicon{
			color:$darkGrey;
			vertical-align:text-top;
		}
		p:nth-child(4){
			font-size:15px;
		}
		&:before,&:after{
			content:" ";
			clear:both;
			display:block;
		}
		img{
			margin-right:30px;
			width:200px;
			height:120px;
		}
		h4{
			margin-top:0px;
			font-weight:bold;
		}
		.bottomList{
			position:absolute;
			left:225px;
			bottom:10px;;
			p{
				text-transform:uppercase;
				font-size:12px;
			}
		}
	}
}
/* - - - S I D E B A R - I N D E X - - - */
.bg-sidebar {
    background-image: url("../image/archive-sidebar-bg.jpg");
    background-repeat: repeat;
    position: relative;
    height: 265px;
    border: 1px solid black;
}
.bg-white {
    background-color: #FFFFFF;
    margin: 5%;
    text-align: center;
    padding: 8%;
    position: absolute;
    top: 10%;
    border: 1px solid black;
}
.mail {
    position: absolute;
    top: -30px;
    left: 105px;
    width: initial;
}
.btn{
 	width: 100%;
 }
 .img-sidebar{
 	width: initial;
 	margin-right: 5%
 }
 input{
 	margin: 2% 0;
 	width: 100%;
 }
 .btn-suscribe{
 	background-color: $red;
	color: white;
 	font-weight: bold;
 	width: 100%;
 	padding: 3%;
 	border-radius: 10px;
 }
 .noticia{
	margin: 10% 0;
}
 .aweita {
    border: solid 2px #E6E4E1;
    margin: 5% 0;
    padding: 0 5% 5% 5%;
    display: inline-block;
}
.logoaweita{
	margin:5% 25% 0 25%;
}
.link-aweita{
	color: $purple;
}
.barra {
    border: 5px solid #952B7A;
    width: 94px;
    background-color: #952B7A;
    position: absolute;
    bottom: -1px;/*23%*/
    left: 35%;
}
.sep:after{
	content: "|";
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}
.fotos-dest{
	position: relative;
	border-top: 5px solid $gris;
}
.titlephots{
	color: $white;
	background-color: $gris;
	position: absolute;
	top: -10px;
	left: 25%;
}
.big{
	margin: 11% 2% 5% 2%;
}
.photo{
	border: 2px solid $gris;
}
/* - - - S I D E B A R - I N D E X - - - */