.titularUno{@include bgTitular(url(../image/img_grid_principal.jpg),75%,10px,20px);
}
.titularDos{@include bgTitular(url(../image/img_grid_secundario.jpg),25%,10px,20px);
	margin-bottom:20px;
}
.titularTres{@include bgTitular(url(../image/fotogaleria_col01_01.jpg),25%,10px,20px);
	margin-top:20px;
}
.contenedorSlider{
	background:$grey;
	border-top:4px solid $red;
	padding-bottom:15px;
	img{@include imgColumnista(80px,80px);
		margin:0 auto;
	}
	div{
		padding:10px 10px 0px 10px;
		text-align:center;
	}
	.sectionTitle{
		background:$red;
		width:20%;
		position:absolute;
		left:40%;
		top:-10px;
		height:30px;
		color:white;
		padding:5px;
	}
	.xsmall{
		margin-top:5px;
	}
}
.boxsetUno{
	>div{@include bgTitular(url(../image/img_especiales.jpg),45%,5px,10px);
	}
}
.boxsetDos{
	>div{@include bgTitular(url(../image/img_especiales_aside.jpg),38.5%,5px,10px);
	}
}
.boxsetTres{
	>div{@include bgTitular(url(../image/img_infografia_especiales.jpg),45%,5px,10px);
	}
}
.boxsetCuatro{
	>div{@include bgTitular(url(../image/img_video_destacado.jpg),38.5%,5px,10px);
	}
}
.boxsetUno,.boxsetDos,.boxsetTres,.boxsetCuatro{
	border:1px solid $buttonGrey;
	margin-top:10px;
	margin-bottom:30px;
	>p{
		margin:10px 0px;
		&:first-child{
			color:$red;
			font-weight:bold;
		}
	}
	a{
		color:black;
	}
}
.news{
	.contentWide{
		>div{
			padding:20px 0px;
			border-bottom:1px solid $darkGrey;
		}
	}
	div:last-child{
		border-bottom:none;
	}
}
/* - - - S I D E B A R - I N D E X - - - */
.bg-sidebar {
    background-image: url("../image/archive-sidebar-bg.jpg");
    background-repeat: repeat;
    position: relative;
    height: 265px;
}
.enter-mail{
	width: 100%;
	margin: 2% 0;
}
.bg-white {
    background-color: #FFFFFF;
    margin: 5%;
    text-align: center;
    padding: 8%;
    position: absolute;
    top: 10%;
}
.mail {
    position: absolute;
    top: -30px;
    left: 105px;
    width: initial;
}
.mt-5{
	margin-top: 5%;
}
.btn{
 	width: 100%;
 }
 .edicion{
 	display: block;
 	height: 190px;
 }
 .popular{
 	display: block;
 	height: 85px;
 }
 .img-sidebar{
 	width: initial;
 	margin-right: 5%
 }
 .columnRight{
 	input{
	 	margin: 2% 0;
	 	width: 100%;
 	}
 }
 .btn-suscribe{
 	background-color: $red;
	color: white;
 	font-weight: bold;
 	width: 100%;
 	padding: 3%;
 	border-radius: 10px;
 }
 .noticia{
	margin: 10% 0;
	position: relative;	
}
 .suplementos {
    border: solid 2px #E6E4E1;
    margin: 5% 0;
    padding: 0 5% 5% 5%;
    display: inline-block;
    position: relative;
}
.logosuplementos{
	margin:5% 25% 0 25%;
}
.link-aweita{
	color: $purple;
}
.sep:after{
	content: "|";
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}
.fotos-dest{
	position: relative;
	border-top: 5px solid $gris;
	border-bottom: 1px solid $gris;
	margin: 10% 0;
}
.titlephots{
	color: $white;
	background-color: $gris;
	position: absolute;
	top: -14px;
    left: 20%;
    width: 200px;
    text-align: center;
    padding: 1% 0;
}
.big{
	margin: 11% 2% 5% 2%;
}
.photo{
	border: 2px solid $gris;
}
/* - - - S I D E B A R - I N D E X - - - */
.bg_white{
	background-color: $whitetrans;
	position: absolute;
	bottom: 10%;
	left:3%;
    padding: 3%;
    width: 90%;
    text-align: center;
}
.fotos-dest-red{
	position: relative;
	border-top: 5px solid $red;
	border-bottom: 1px solid $gris;
	margin: 10% 0;
}
.titlered{
	color: $white;
	background-color: $red;
	position: absolute;
	top: -14px;
    left: 20%;
    width: 200px;
    text-align: center;
    padding: 1% 0;
}
a.linkred{
	color: red;
	text-align: center;
	font-weight: bold;
	&:hover{
		color: $darkred;
	}
}
.green-bar{
	background-color: $greenlight;
	color:black;
}
.red-bar{
	background-color: $redlight;
	color:black;
}
.bg-encuesta {
    background-image: url("../image/archive-sidebar-bg.jpg");
    background-repeat: repeat;
    position: relative;
    height: 620px; 
    margin: 5% 0 ;   
}
.bg-white-encuesta {
    background-color: #FFFFFF;
    margin: 5%;
    text-align: center;
    padding: 8%;
    position: absolute;
    bottom: 3%;    
}
.bg-white-pregunta {
    background-color: #FFFFFF;
    margin: 5%;
    text-align: center;
    padding: 8%;
    position: absolute;
    top: 1%;    
}
.bg-photo {
    background-image: url("../image/archive-sidebar-bg.jpg");
    background-repeat: repeat;
    position: relative;
    height: 620px; 
    margin: 5% 0 ;   
}
/* - - - S I D E B A R - I N D E X - - - */
